# What is San Francisco - Businesses EDA

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import glob as glob
import seaborn as sns; sns.set()

## Table of Contents

In [3]:
glob.glob('../data/Businesses/*.csv')

['../data/Businesses/Community_Development_Public_Service_Program_Activities_by_Neighborhood.csv',
 '../data/Businesses/Mobile_Food_Facility_Permit.csv',
 '../data/Businesses/sf_business_data_clean.csv',
 '../data/Businesses/Registered_Business_Locations_-_San_Francisco.csv',
 '../data/Businesses/Active_Business_Locations.csv',
 '../data/Businesses/Mobile_Food_Schedule.csv',
 '../data/Businesses/Registered_Business_Locations.csv',
 '../data/Businesses/Registered_Businesses_sorted_by_End_Date.csv']

## Registered Business Locations

#### Objective:
Because the end goal for this project is to understand urban planning and distribution of different businesses around San Francisco not all features will be relevent. This will help cut down features that may required more intensive processes to clean.

In [3]:
registered_business_locations = pd.read_csv('../data/Businesses/Registered_Business_Locations.csv', low_memory=False)

In [6]:
registered_business_locations.head(3)

,Location Id,Business Account Number,Ownership Name,DBA Name,Street Address,City,State,Source Zipcode,Business Start Date,Business End Date,...,NAICS Code,NAICS Code Description,Parking Tax,Transient Occupancy Tax,LIC Code,LIC Code Description,Supervisor District,Neighborhoods - Analysis Boundaries,Business Corridor,Business Location
0,0183880-01-001,183880,Chaname Miriam,Chaname Miriam,3186 23rd St,San Francisco,CA,94110.0,01/01/1989,NaN,...,8100-8139,Certain Services,False,False,NaN,NaN,9.0,Mission,NaN,"3186 23RD ST\nSan Francisco, CA 94110\n(37.753..."
1,0206570-03-999,206570,Tower Jonathan Todd,Jonathan Tower Construction,6519 Eureka Ave,El+cerrito,CA,94530.0,07/13/2011,04/19/2017,...,2300-2399,Construction,False,False,NaN,NaN,NaN,NaN,NaN,"6519 EUREKA AVE\nEL CERRITO, CA 94530\n(37.906..."
2,0302158-01-001,302158,Hanke Milo F,Milo F Hanke,100 Bush St 1675,San Francisco,CA,94104.0,01/01/1997,08/16/2016,...,5210-5239,Financial Services,False,False,NaN,NaN,3.0,Financial District/South Beach,NaN,"100 BUSH ST\nSan Francisco, CA 94104\n(37.7912..."

In [14]:
# Clean String to Datetime
registered_business_locations['Business Start Date'] = pd.to_datetime(registered_business_locations['Business Start Date'])
registered_business_locations['Business End Date'] = pd.to_datetime(registered_business_locations['Business End Date'])
registered_business_locations['Location Start Date'] = pd.to_datetime(registered_business_locations['Location Start Date'])
registered_business_locations['Location End Date'] = pd.to_datetime(registered_business_locations['Location End Date'])

In [15]:
registered_business_locations.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227466 entries, 0 to 227465
Data columns (total 26 columns):
Location Id                            227466 non-null object
Business Account Number                227466 non-null int64
Ownership Name                         227466 non-null object
DBA Name                               227466 non-null object
Street Address                         227462 non-null object
City                                   227273 non-null object
State                                  226857 non-null object
Source Zipcode                         227292 non-null float64
Business Start Date                    227466 non-null datetime64[ns]
Business End Date                      61277 non-null datetime64[ns]
Location Start Date                    227466 non-null datetime64[ns]
Location End Date                      82877 non-null datetime64[ns]
Mail Address                           166188 non-null object
Mail City                              168654 non-null object
Mail Zipcode                           168609 non-null object
Mail State                             166126 non-null object
NAICS Code                             136470 non-null object
NAICS Code Description                 136470 non-null object
Parking Tax                            227466 non-null bool
Transient Occupancy Tax                227466 non-null bool
LIC Code                               13326 non-null object
LIC Code Description                   12828 non-null object
Supervisor District                    143372 non-null float64
Neighborhoods - Analysis Boundaries    143367 non-null object
Business Corridor                      303 non-null object
Business Location                      170894 non-null object
dtypes: bool(2), datetime64[ns](4), float64(2), int64(1), object(17)
memory usage: 42.1+ MB

In [29]:
# Clean Columns
registered_business_locations.columns = [x.lower().replace('-','').replace(' ','_') for x in registered_business_locations.columns]

In [31]:
registered_business_locations[registered_business_locations['business_corridor'] != np.nan].head()

,location_id,business_account_number,ownership_name,dba_name,street_address,city,state,source_zipcode,business_start_date,business_end_date,...,naics_code,naics_code_description,parking_tax,transient_occupancy_tax,lic_code,lic_code_description,supervisor_district,neighborhoods__analysis_boundaries,business_corridor,business_location
0,0183880-01-001,183880,Chaname Miriam,Chaname Miriam,3186 23rd St,San Francisco,CA,94110.0,1989-01-01,NaT,...,8100-8139,Certain Services,False,False,NaN,NaN,9.0,Mission,NaN,"3186 23RD ST\nSan Francisco, CA 94110\n(37.753..."
1,0206570-03-999,206570,Tower Jonathan Todd,Jonathan Tower Construction,6519 Eureka Ave,El+cerrito,CA,94530.0,2011-07-13,2017-04-19,...,2300-2399,Construction,False,False,NaN,NaN,NaN,NaN,NaN,"6519 EUREKA AVE\nEL CERRITO, CA 94530\n(37.906..."
2,0302158-01-001,302158,Hanke Milo F,Milo F Hanke,100 Bush St 1675,San Francisco,CA,94104.0,1997-01-01,2016-08-16,...,5210-5239,Financial Services,False,False,NaN,NaN,3.0,Financial District/South Beach,NaN,"100 BUSH ST\nSan Francisco, CA 94104\n(37.7912..."
3,0302158-02-001,302158,Hanke Milo F,Hanke & Co,100 Bush St #1675,San+francisco,CA,94104.0,1997-01-01,2016-08-16,...,5210-5239,Financial Services,False,False,NaN,NaN,NaN,NaN,NaN,"100 BUSH ST\nSan Francisco, CA 94104\n(37.7912..."
4,0314076-01-001,314076,Moore Mary J,Mary Moore Consulting,210 Chattanooga St,San Francisco,CA,94114.0,1998-02-01,2017-05-17,...,5400-5499,"Professional, Scientific, and Technical Services",False,False,NaN,NaN,8.0,Noe Valley,NaN,"210 CHATTANOOGA ST\nSan Francisco, CA 94114\n(..."

In [32]:
registered_business_locations.iloc[0]

location_id                                                              0183880-01-001
business_account_number                                                          183880
ownership_name                                                           Chaname Miriam
dba_name                                                                 Chaname Miriam
street_address                                                             3186 23rd St
city                                                                      San Francisco
state                                                                                CA
source_zipcode                                                                    94110
business_start_date                                                 1989-01-01 00:00:00
business_end_date                                                                   NaT
location_start_date                                                 1989-01-01 00:00:00
location_end_date                                                                   NaT
mail_address                                                          34 San Felipe Ave
mail_city                                                           South San Francisco
mail_zipcode                                                                      94080
mail_state                                                                           CA
naics_code                                                                    8100-8139
naics_code_description                                                 Certain Services
parking_tax                                                                       False
transient_occupancy_tax                                                           False
lic_code                                                                            NaN
lic_code_description                                                                NaN
supervisor_district                                                                   9
neighborhoods__analysis_boundaries                                              Mission
business_corridor                                                                   NaN
business_location                     3186 23RD ST\nSan Francisco, CA 94110\n(37.753...
Name: 0, dtype: object

In [36]:
registered_business_locations['naics_code_description'].value_counts()

Real Estate and Rental and Leasing Services         23862
Professional, Scientific, and Technical Services    22541
Construction                                        14904
Retail Trade                                        12021
Food Services                                       10439
Private Education and Health Services                7166
Arts, Entertainment, and Recreation                  6837
Accommodations                                       6358
Transportation and Warehousing                       6177
Multiple                                             4429
Financial Services                                   4103
Certain Services                                     3981
Information                                          3745
Wholesale Trade                                      3410
Administrative and Support Services                  3392
Manufacturing                                        2082
Insurance                                             700
Utilities                                             323
Name: naics_code_description, dtype: int64